# ignore cache files
*.pyc
__pycache__/*

# jupyter stuff
.ipynb_checkpoints/*
*.ipynb

# ignore log files
*.log

# ignore egg info files
oglhclient.egg-info/*

# ignore editor files
.vscode

# ignore build files
build/*
dist/*
.eggs/*
